extends _layout

block content
  include _notify
  h1.title ขอรับรหัสผ่านใหม่
  hr
  form(action="/reset-password", method="post")
    .field
      .control
        label.label ที่อยู่อีเมล
        input.input(type="email" name="email" required)
    hr
    .field
      button.button.is-link ส่งข้อมูล
