extends _layout

block content
  include _notify
  h1.title กำหนดรหัสผ่านใหม่
  hr
  form(action=`/reset-password/${token}?_method=put`, method="post")
    .field
      .control
        label.label ที่อยู่อีเมล
        input.input(type="email" value=email disabled)
    .field
      .control
        label.label รหัสผ่านใหม่
        input.input(type="password" name="password" required)
    hr
    .field
      button.button.is-link ส่งข้อมูล
